@model LocamerSite.Models.Option1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Option1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.libelleOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libelleOption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qteDispo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qteDispo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prixOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prixOption)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codeOption }) |
    @Html.ActionLink("Back to List", "Index")
</p>
