@model IEnumerable<LocamerSite.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Créer un nouveau client", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenomClient)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenomClient)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.codeClient }) |
            @Html.ActionLink("Details", "Details", new { id=item.codeClient }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.codeClient })
        </td>
    </tr>
}

</table>
