@model IEnumerable<LocamerSite.Models.Emplacement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.capacite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.terrasse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarif.libelleTarif)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.capacite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.terrasse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarif.libelleTarif)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.codeEmplacement }) |
            @Html.ActionLink("Details", "Details", new { id=item.codeEmplacement }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.codeEmplacement })
        </td>
    </tr>
}

</table>
