@model LocamerSite.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateDebut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prixReservation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prixReservation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.nomClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.nomClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeSejour.libelleSejour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeSejour.libelleSejour)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codeReservation }) |
    @Html.ActionLink("Back to List", "Index")
</p>
