@model IEnumerable<LocamerSite.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prixReservation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.nomClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeSejour.libelleSejour)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dateDebut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prixReservation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.nomClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeSejour.libelleSejour)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.codeReservation }) |
            @Html.ActionLink("Details", "Details", new { id=item.codeReservation }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.codeReservation })
        </td>
    </tr>
}

</table>
